:root {
  --first-color: #a2792f;
  --second-color: #f7ca44;
  --third-color: #d5eeff;
  --fourth-color: #5c3c10;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  --header-font: "Playfair Display", serif;
  --default-font: "Poppins", sans-serif;
}

body {
  background-color: var(--third-color);
}

.margin {
  margin: 0px;
}

h1 {
  font-size: 80px;
  font-family: var(--header-font);
}
h2 {
  font-size: 45px;
  font-family: var(--header-font);
}

h3 {
  font-size: 30px;
  font-family: var(--header-font);
}

h4 {
  font-size: 20px;
  font-family: var(--default-font);
  font-weight: bolder;
}

p {
  font-size: 18px;
  font-family: var(--default-font);
}

.navbar {
  background: var(--third-color);
}

.nav-link {
  font-size: 15px;
  font-family: var(--default-font);
}

.sourdough-link,
.weather-link {
  font-family: var(--default-font);
  background-color: var(--second-color);
  border: 1px solid var(--second-color);
  border-radius: 15px;
  padding: 12px;
  text-decoration: none;
  color: var(--fourth-color);
  box-shadow: var(--box-shadow);
}
.sourdough-link:hover,
.weather-link:hover {
  color: var(--first-color);
  border: 1px solid var(--first-color);
}

.sourdough:hover,
.weather:hover {
  width: 300px;
  height: auto;
}

.img-fluid {
  max-width: 100%;
  height: auto;
  border-radius: 20px;
  vertical-align: center;
}

.contact-info {
  padding: 0 30px;
}
.contact-info a {
  text-decoration: none;
  color: var(--second-color);
}

.contact-info a:hover {
  text-decoration: underline;
  font-weight: bold;
}

.self {
  border-radius: 30%;
}
.reads {
  padding: 15px 0 30px;
}

.book-list img {
  max-height: 70%;
}

.contact-me {
  text-decoration: none;
  color: black;
  font-size: 22px;
  font-family: var(--default-font);
  font-weight: bold;
}
.contact-me:hover {
  color: var(--second-color);
  text-decoration: none;
}

footer .socials a {
  font-size: 20px;
  color: var(--second-color);
  border-radius: 50%;
  padding: 5px 10px;
}

footer .socials a:hover {
  color: white;
  background-color: var(--second-color);
}

footer .git-signature {
  font-family: var(--default-font);
  font-size: 10px;
}

footer .git-signature a {
  color: var(--fourth-color);
}

@media (max-width: 768px) {
  h1 {
    font-size: 32px;
  }
  h2 {
    font-size: 28px;
  }
  h3 {
    font-size: 22px;
  }
  p {
    font-size: 12px;
  }

  footer {
    font-size: 18px;
  }
  .projects .row,
  .content,
  .homepage-img {
    margin-top: 0px;
    text-align: center;
  }

  .img-fluid {
    max-width: 80%;
  }
}
